.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.brand {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--text1);
}

.brand:visited {
  color: var(--text1);
}

.ul_links {
  position: fixed;
  height: 100vh;
  background-color: var(--surface4);
  top: 0;
  right: 0;
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  row-gap: 1em;
  transform: translateX(100%);
  z-index: 3;
  transition: all 0.6s;
}

.nav_links {
  color: var(--text1);
  cursor: pointer !important;
  transition: 0.3s;
}

.nav_links:hover {
  color: var(--text2);
}

.connect {
  margin-inline: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  color: var(--text1);
  margin-top: auto;
}

.register_link {
  border: 1px solid var(--surface3);
  padding: 0.4em 1em;
  border-radius: 0.5em;
}

.register_link:hover {
  border: 1px solid var(--text2);
}

.overly {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.nav_item > span > img {
  margin-left: 6px;
  transform: rotate(0deg);
  transition-property: all;
  transition-property: transform;
  transition-duration: 0.6s;
}

.nav_item:hover > span > img {
  transform: rotate(180deg);
}

.nav_item .dropdown_content {
  margin-block: 1em;
  padding-left: 1.5em;
  height: 0;
  display: none;
  transition: all 1s;
}

.nav_item:hover .dropdown_content {
  display: block;
  height: max-content;
  color: var(--text2);
}

.show {
  transform: translateX(0%);
}

.hamber_menu img {
  cursor: pointer;
  filter: contrast(60%);
  transition: 0.3s;
}

.hamber_menu:hover img {
  filter: contrast(10%);
}

.close_menu img {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  filter: contrast(10%);
  transition: 0.3s;
}

.close_menu img:hover {
  filter: contrast(100%);
}

@media (min-width: 768px) {
  .hamber_menu,
  .close_menu,
  .overly {
    display: none;
  }

  .navbar {
    justify-content: flex-start;
  }

  .ul_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    transform: unset;
    height: auto;
    position: relative;
    column-gap: 1em;
    padding: 1em 2em;
  }

  .connect {
    flex-direction: row;
    column-gap: 1em;
    margin-inline: unset;
    margin-left: auto;
  }
  .nav_item {
    height: 2em;
  }
  .nav_item .dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--surface3);
    border-radius: 0.5em;
    margin-block: 0.4em;
    padding-left: 0em;
    height: max-content;
    transition: all 1s;
  }
}
